NODE_ENV=production
PORT=3000

DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=7d

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CONNECT_CLIENT_ID=

APP_BASE_URL=
FRONTEND_APP_URL=elevator://

MAPBOX_ACCESS_TOKEN=

RESEND_API_KEY=
FROM_EMAIL=